<div class="container main-container">
    <h1>Demos <small>Angular</small></h1>
    <hr>

    <div class="container scn-container">
        <app-ng-style></app-ng-style>
    </div>

    <div class="container scn-container">
        <app-css></app-css>

        <p>Un texto desde app.component</p>
    </div>

    <div class="container scn-container">
        <app-clases></app-clases>
    </div>

    <div class="container scn-container">
        <!--Así es como se hace cuando solo se quiere usar la directiva con sus características -->
        <p appResaltado>Este texto debe estar resaltado con la nueva directiva creada.</p>
        <!--Así es como se hace cuando se le quiere mandar algún dato que dependa de la directiva-->
        <p [appResaltado]="'cyan'">Este es otro texto con el que se envía un dato a la directiva.</p>
    </div>

    <div class="container scn-container">
        <app-ng-switch></app-ng-switch>
    </div>
</div>